<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.heyjoshsmith.Cocktails</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cocktails</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>cart.fill</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Build a list of ingredients</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Shopping List</string>
			<key>UIApplicationShortcutItemType</key>
			<string>cocktails://shopping_list</string>
		</dict>
	</array>
</dict>
</plist>
